@(userEmail: String,tasks:List[Tasks])

@main("Trello") {
<!-- Header      -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4 id="white"><b>DashBoard</b></h4>
            </div>
            <div class="col-md-3" align="center">
                <h6 id="white">@userEmail&nbsp;&nbsp;<a href="@routes.HomeController.logout()"><i id="white" class="fa fa-sign-out fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a> </h6>
            </div>
        </div>
    </div>
    <div align="center">
<!-- To-do Block -->
  <div class="col-lg-4">
    <div class="todo block-inside">
      <label class="control-label col-md-3 text-right">To Do</label>
            <div class="padtop" id="1">
                <div class="1 droppable sortable">
                    <div id="ScrollStyle">
                        @for(t <- tasks) {
                            @if(t.getStatus()=="1"&&t.getUser.equals(userEmail)){
                                <div  class="draggable ui-widget-content eachTask">
                                    <div class="left">@t.getTitle()</div>  <div class="right">
                                        <i id="blu" class="fa fa-pencil fa-2x" aria-hidden="true" onclick="edit('@t.getId','@t.getTitle','@t.getDescription','@t.getList','@t.getListTF','@t.getStatus')"></i> <a href="@routes.HomeController.del(t.getId)" onclick="return confirm('Are you sure?')"> <i id="blu" class="fa fa-trash fa-2x" aria-hidden="true"></i></a></div>
                                        <br>
                                        <input id="id" type="hidden" value=@t.getId()>

                                        <h6 id="time" align="right">@t.getLastUpdated()</h6>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        <input id="myBtn1" class="text_block_button" type="submit" value="Add" />
    </div>
  </div>
<!--Doing Block -->
        <div class="col-lg-4">
            <div class="doing block-inside">
                <label class="control-label col-md-3 text-right">Doing</label>
                <div class="padtop">
                    <div class="2 droppable sortable">
                        <div id="ScrollStyle">
                        @for(t <- tasks) {
                            @if(t.getStatus()=="2"&&t.getUser.equals(userEmail)){
                                <div  class="draggable ui-widget-content eachTask">
                                    <div class="left">@t.getTitle()</div>  <div class="right">
                                    <i id="blu" class="fa fa-pencil fa-2x" aria-hidden="true" onclick="edit('@t.getId','@t.getTitle','@t.getDescription','@t.getList','@t.getListTF','@t.getStatus')"></i> <a href="@routes.HomeController.del(t.getId)" onclick="return confirm('Are you sure?')"> <i id="blu" class="fa fa-trash fa-2x" aria-hidden="true"></i></a></div>
                                    <br>
                                    <input type="hidden" value=@t.getId()>
                                    <h6 id="time" align="right">@t.getLastUpdated()</h6>
                                </div>
                            }
                        }
                        </div>
                    </div>
                </div>
                <input id="myBtn2" class="text_block_button" type="submit" value="Add" />
            </div>
        </div>
<!-- Done Block-->
        <div class="col-lg-4">
            <div class="done block-inside">
                <label class="control-label col-md-3 text-right">Done</label>
                <div id="2" class="padtop">
                    <div class="3 droppable sortable">
                        <div id="ScrollStyle">
                        @for(t <- tasks) {
                            @if(t.getStatus()=="3"&&t.getUser.equals(userEmail)){
                                <div  class="draggable ui-widget-content eachTask">
                                    <div class="left">@t.getTitle()</div>  <div class="right">
                                    <i id="blu" class="fa fa-pencil fa-2x" aria-hidden="true" onclick="edit('@t.getId','@t.getTitle','@t.getDescription','@t.getList','@t.getListTF','@t.getStatus')"></i> <a href="@routes.HomeController.del(t.getId)" onclick="return confirm('Are you sure?')"> <i id="blu" class="fa fa-trash fa-2x" aria-hidden="true"></i></a></div>
                                    <br>
                                    <input type="hidden" value=@t.getId()>
                                    <h6 id="time" align="right">@t.getLastUpdated()</h6>
                                </div>
                            }
                        }
                        </div>
                    </div>
                </div>
                <input id="myBtn3" class="text_block_button" type="submit" value="Add" />
            </div>
        </div>

    <!-- The Modal -->
  <div id="myModal" class="modal">

      <!-- Modal content -->
    <div id="modal-id" class="nolink modal-content">
        <span class="close"><a href="@routes.HomeController.Dash()">×</a></span>
        <div class="form-group" align="center">
          <h1 class="headings">Add Task</h1>
        </div>
        <form id="regForm" name="regForm" action="@routes.HomeController.postTask()" method="post">
                <input id="id" type="hidden" name="id">
                <input id="date" type="hidden" name="lastUpdated" >
                <input name="user" type="hidden" value=@userEmail>
                <input name="status" type="hidden" id="statusid">

            <div class="form-group">
                <div>
                    <label class="control-label col-md-3 text-right">Title</label>
                    <div class="col-md-7">
                      <input id="title" class="form-control" type="text" name="title" ng-model="title" required>
                      <span class="error" ng-show="regForm.$invalid">*This field is mandatory.</span>
                        <!--<div id="err" class="unhidden"> <label class="error" >*This field is mandatory.</label></div>-->
                    </div>
                </div>

            </div>

            <div class="spacer"></div>


            <div class="form-group">
                <div>
                    <label class="control-label col-md-3 text-right">Description</label>
                    <div class="col-md-7">
                      <textarea id="description" class="form-control" name="description" cols="71" rows="5"></textarea>
                    </div>
                </div>
                <div class="spacer"></div>
            </div>




            <!--check list plugin-->
                <div class="form-group">
                    <div>
                      <label class="control-label col-md-3 text-right">Check List</label>
                      <div class="col-md-7">
                          <input id="listString" type='hidden' name="list">
                          <input id="listTF" type='hidden' name="listTF">
                          <header>
                              <input id="new-todo" class="form-control" type="text" placeholder="Add item">
                          </header>
                          <section id='main'>
                              <ul id='todo-list'>
                              </ul>
                          </section>
                      </div>
                    </div>
                </div>

                <!--check list plugin-->
            <div class="spacer"></div>


                <div class="form-group">
                     <div class="col-lg-12" align="center">
                          <div class="form-group">
                          </div>
                          <input id="bigbutton" value="Save"/>
                     </div>
                </div>
        </form>
    </div>
  </div>



<script>
        $( function() {
            $( ".sortable" ).sortable();
            $( ".sortable" ).disableSelection();
        } );

        $(document).ready(function(){
            $("#myBtn1").click(function() {
                //alert($('#title').val());
                $('#bigbutton').attr('disabled', true);
                if ($('#title').val().length != 0)
                    $('.sendButton').attr('disabled', false);
                else
                    $('.sendButton').attr('disabled', true);
            })
            $("#myBtn2").click(function() {
                //alert($('#title').val());
                $('#bigbutton').attr('disabled', true);
                if ($('#title').val().length != 0)
                    $('.sendButton').attr('disabled', false);
                else
                    $('.sendButton').attr('disabled', true);
            })
            $("#myBtn3").click(function() {
                //alert($('#title').val());
                $('#bigbutton').attr('disabled', true);
                if ($('#title').val().length != 0)
                    $('.sendButton').attr('disabled', false);
                else
                    $('.sendButton').attr('disabled', true);
            })
        });

        $( 'textarea' ).keyup(function() {
            if ($('#title').val() == '') {
                $('#err').attr('class','unhidden');
            }
        });

        $( 'input' ).keyup(function() {
            if(!$('#title').val()==''){
                $('#err').attr('class','hidden');
            }
            var empty = false;
            if ($('#title').val() == '') {

                empty = true;
            }

            if (empty) {
                $('#bigbutton').attr('disabled', 'disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
            } else {
                $('#bigbutton').removeAttr('disabled'); // updated according to http://stackoverflow.com/questions/7637790/how-to-remove-disabled-attribute-with-jquery-ie
            }
        });


        $('#bigbutton').click(function () {
            var element = document.getElementsByClassName('listData');
            for(var i = 0; i<element.length;i++) {
                $('#listString').val($('#listString').val()+element[i].innerHTML+"<!>");

            }
            //alert($('#listString').val());
            $('.checkBox').each(function () {
                //alert("hel");
                var t=this.checked ? "t" : "f";
                $('#listTF').val($('#listTF').val()+t+"<!>");
            });
            //alert($('#listTF').val());
            document.forms[0].submit();
        });
        //list
        $(document).ready(function() {
            $('button').on('click', function(e) {
                e.preventDefault();
                var new_task = $('#input').val();
                $('#checklist').append('<input class="combine" type="checkbox"><input class="combine" type="text"><br><div class="form-group"></div>');
            });
        });
        //list
    //combine field in check list
    $(document).ready(function () {
        $('#setVal').on('click', function () {
            var form = $('.combine').not('#listString');
            var vals = form.map(function () {
                var value
                if($(this).is(':checkbox')){
                    if ($(this).is(":checked"))
                    {
                        value="t"
                    }
                    else{
                        value="f"
                    }
                }
                else{
                    value = $.trim(this.value)
                }

                return value ? value : undefined;
            }).get();
            $('#listString').val(vals.join('<!>'))
        });
    });
    // combine

    //<!--Drag and drop jquery-->

    $( function() {
    $( ".draggable1" ).draggable()
    $( ".droppable2" ).droppable({
        classes: {
            "ui-droppable-hover": "ui-state-hover"
        },
    drop: function( event, ui ) {
    $( this )
    }
    });
    } );
        $('.droppable').droppable({
            drop: function(ev, ui) {
                $(ui.draggable).detach().css({top: 0, left: 0}).appendTo(this);
                var newStatus = $(this).closest('div').attr('class');
                var taskLastUpdated=$(ui.draggable).children('#time').text();
                //alert($(ui.draggable).children('#id').val());
                //var title=$(ui.draggable).children('#time').text();

            }
        });


        $(function() {
            $(".draggable").draggable({
                revert : function(event, ui) {
                    // on older version of jQuery use "draggable"
                    // $(this).data("draggable")
                    // on 2.x versions of jQuery use "ui-draggable"
                    // $(this).data("ui-draggable")
                    $(this).data("uiDraggable").originalPosition = {
                        top : 0,
                        left : 0
                    };
                    // return boolean
                    return !event;
                    // that evaluate like this:
                    // return event !== false ? false : true;
                }
            });
            $("#droppable").droppable();
        });
    //<!--Drag and drop jquery-->




        document.getElementById("date").value = Date();
        var modal = document.getElementById('myModal');
        //var modalUpdate = document.getElementById('myModalUpdate');
        // Get the button that opens the modal
        var btn1 = document.getElementById("myBtn1");//status 1
        var btn2 = document.getElementById("myBtn2");//status 2
        var btn3 = document.getElementById("myBtn3");//status 3




        var edit = function (id,title,description,list,listtf,status) {
            //alert(description);
            modal.style.display = "block";
            document.getElementById('id').value = id;
            document.getElementById('title').value = title;
            document.getElementById('statusid').value = status;
            document.getElementById('description').value = description;
            document.getElementById('date').value = Date();
            //var divClone = $("#somediv").clone();
            var data = list.split("<!>");
            var tf = listtf.split("<!>");
            //alert(t.length);
            //var todos = $todoList.html();
            if (!$('.checkBox').length) {
                //alert("hello1if");
                for (var i=0;i<data.length-1;i++) {
                    //alert(tf[i]);
                    if (tf[i] === "t") {
                        //alert("hello");
                        $('#todo-list').append(""+
                                "<li>" +
                                "<div class='view'>" +
                                "<input class='toggle checkBox' type='checkbox' checked='checked'>" +
                                "<label class='listData' data=''>" + " " + data[i] + "</label>" +
                                "</div>" +
                                "</li>");
                    }
                    else {
                        $('#todo-list').append(""+
                                "<li>" +
                                "<div class='view'>" +
                                "<input class='toggle checkBox' type='checkbox'>" +
                                "<label class='listData' data=''>" + " " + data[i] + "</label>" +
                                "</div>" +
                                "</li>");
                    }
                }
            }
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn1.onclick = function() {
            modal.style.display = "block";
            document.getElementById('statusid').value=1;
        }

        btn2.onclick = function() {
            modal.style.display = "block";
            document.getElementById('statusid').value=2;
        }
        btn3.onclick = function() {
            modal.style.display = "block";
            document.getElementById('statusid').value=3;
        }



        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            $('#regForm')[0].reset();
            document.getElementById("regForm").reset();
            modal.style.display = "none";
        }
        $('.close').click(function(){
            $('#regForm')[0].reset();
            document.getElementById("regForm").reset();

        });

        // When the user clicks anywhere outside of the modal, close it
   /*     window.onclick = function(event) {
          if (event.target == modal) {
              $('#regForm')[0].reset();
              //$("#somediv").replaceWith(divClone);
              document.getElementById("regForm").reset();
              modal.style.display = "none";

          }
        }*/



    </script>

}