@(userEmail: String)

@main("Notes") {
    <div id="myId" ng-app="myAppName"  ng-controller="HttpGetController">

                <div class="form-group">
                    <div class="note col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                        <input ng-model="user" ng-init="user='@userEmail'" name="user" type="hidden">

                        <div ng-show="showRest" id="titleDiv" ng-style="{'background-color':$scope.color;}" class="title" ng-cloak><input ng-model="title" class="textDivInp" placeholder="Title" name="title" type="text"></div>
                        <div id="contentDiv" class="content">
                            <textarea ng-focus="showRest = true" ng-model="content" placeholder="Take a note..." name="content"></textarea>
                        </div>

                        <div ng-show="showRest" id="toolbarDiv" class="toolbar" ng-cloak>
                            <div class="col-md-2">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell fa lg" data-toggle="tooltip" data-placement="bottom" title="Set Reminder" aria-hidden="true"></i>
                                       </a>
                                    <div class="dropdown-menu">
                                        <div class="container1">
                                            <!--<input ng-model="reminderTime" class="form-control" id='datetimepicker4' placeholder="Pick The time." name="reminderTime" type="text">-->
                                            <input ng-model="reminderTime" class="form-control datetimepicker4" type='text' name="reminderTime" placeholder="Select Time"/>
                                            <span id="clear" class="glyphicon glyphicon-remove-circle"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <select id="colorselector" ng-model="color">
                                    <option value="#FAFAFA" data-color="#FAFAFA" selected="selected"></option>
                                    <option value="#FFD180" data-color="#FFD180"></option>
                                    <option value="#FF8A80" data-color="#FF8A80"></option>
                                    <option value="#CCFF90" data-color="#CCFF90"></option>
                                    <option value="#FFFF8D" data-color="#FFFF8D"></option>
                                </select>
                            </div>
                            <div class="col-md-7">
                            <div align="right" > <button class="done" ng-click="sendData();showRest=false;">Done</button> </div>
                            </div>
                        </div>
                    </div>
                </div>






        <div class="padTopMore col-md-12" ng-cloak>
            <div class="row rowWithFullWidth col-md-12">
                <div id="items" class="no-padding col-md-10 col-md-offset-2">
                    <div ng-repeat="post in posts">
                        <div class="col-md-3 eachCard" ng-click="addDataToModal(post.user,post.id,post.title,post.content,post.reminder,0,0)">
                            <div class="card" ng-clock>
                                <input ng-model="id" name="id" ng-value="post.id" type="hidden">
                                <div class="clickd">
                                    <div name="title" class="title wordWrap" contenteditable="false" ng-cloak>{{ post.title }}</div>
                                    <div name="content" class="content wordWrap" contenteditable="false" ng-cloak>{{ post.content }}</div>
                                    <div name="reminder" class="remind" contenteditable="false"><div class="remindText" ng-cloak>{{post.reminder}}</div></div>
                                </div>
                                <div class="toolbar">
                                    <div class="inner col-md-offset-2">
                                        <div class="col-md-3"><a ng-click="del(post.id)"><i data-toggle="tooltip" data-placement="bottom" title="Delete Note" class="fa fa-trash fa-lg" aria-hidden="true"></i></a></div>
                                        <div class="col-md-3"><a ng-click="archive(post.id,post.isArchive)"><i data-toggle="tooltip" data-placement="bottom" title="Archive Note" class="fa fa-archive fa-lg" aria-hidden="true"></i></a></div>
                                        <div class="col-md-3"><a ng-click="copyData(post.user,post.title,post.content,post.reminder,post.isReminderActive,post.isArchive)"><i data-toggle="tooltip" data-placement="bottom" title="Make a copy" class="fa fa-clone fa-lg" aria-hidden="true"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>









            <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->

                        <div class="form-group">

                            <div class="note col-md-12">

                                <input data-ng-model="data.user" type="hidden">
                                <input data-ng-model="data.id" type="hidden">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div id="titleDiv" class="title" ><input data-ng-model="data.title" class="textDivInp" placeholder="Title" name="title" type="text"></div>
                                <div id="contentDiv" class="content">
                                    <textarea data-ng-model="data.content" placeholder="Take a note..." name="content"></textarea>
                                </div>
                                <div class="remind">
                                    <div class="container2">
                                            <!--<input ng-model="reminderTime" class="form-control" id='datetimepicker4' placeholder="Pick The time." name="reminderTime" type="text">-->
                                        <input id="editTime" data-ng-model="data.reminder" class="timeInp datetimepicker4" type='text' name="reminderTime" placeholder="No Reminder!"/>
                                        <!--<span id="clear1" class="glyphicon glyphicon-remove-circle"></span>-->
                                    </div>
                                </div>
                                <div id="toolbarDiv" class="toolbar">
                                    <div align="right" > <button class="done" id="updateButton" ng-click="updateData()">Done</button> </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>



    </div>

<script>
        $('#colorselector').colorselector();

        Sortable.create(items, {
            sort: true,
            animation: 150,
            ghostClass: 'ghost',
            chosenClass: 'chosen',
            onUpdate: function (/**Event*/evt) {
                var itemEl = evt.item;  // dragged HTMLElement
                angular.element(document.getElementById('myId')).scope().updatePosition(evt.oldIndex,evt.newIndex);
            },
        });


        $(function () {
                    $('.datetimepicker4').datetimepicker();
                });
        $('.datetimepicker4').blur(function () {
            angular.element($('.datetimepicker4')).triggerHandler('input');
        })
                $('#editTime').blur(function () {
                    angular.element($('#editTime')).triggerHandler('input');
                })
                $('#clear1').blur(function () {
                    angular.element($('#editTime')).triggerHandler('input');
                })
                $("#clear").click(function(){
                    $(".datetimepicker4").val('');
                });

                $("#clear1").click(function(){
                    $(".datetimepicker4").val('');
                });


        $(document).on('click', '.clickd', function () {
            $('#myModal').modal('show');
        });
        $(document).on('click', '#updateButton', function () {
            $('#myModal').modal('toggle');
        });

</script>
}
