@(userEmail: String,tasks:List[Card])



@main("Notes") {
    <div ng-app="myAppName" ng-controller="HttpGetController">
            <form id="myForm" action="@routes.HomeController.addCards">
                <div class="form-group">
                    <div class="note col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                        <input ng-model="user" ng-init="user='@userEmail'" name="user" type="hidden">

                        <div id="titleDiv" class="title" ><input ng-model="title" class="textDivInp" placeholder="Title" name="title" type="text"></div>
                        <div id="contentDiv" class="content">
                            <textarea ng-model="content" placeholder="Take a note..." name="content"></textarea>
                        </div>

                        <div id="toolbarDiv" class="toolbar">
                            <div class="col-md-2">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell fa lg" data-toggle="tooltip" data-placement="bottom" title="Set Reminder" aria-hidden="true"></i>
                                   </a>
                                <div class="dropdown-menu">
                                    <div class="container1">
                                        <!--<input ng-model="reminderTime" class="form-control" id='datetimepicker4' placeholder="Pick The time." name="reminderTime" type="text">-->
                                        <input ng-model="reminderTime" class="form-control datetimepicker4" type='text' name="reminderTime" placeholder="Select Time"/>
                                        <span id="clear" class="glyphicon glyphicon-remove-circle"></span>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-10">
                            <div align="right" > <button class="done" ng-click="sendData()">Done</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>







        <div class="padTopMore col-md-8 col-md-offset-2">
            <div ng-sortable="{animation:150}" class="row rowWithFullWidth col-md-12">
                <div ng-repeat="post in posts">
                    <div class="col-md-4 eachCard" ng-click="addDataToModal(post.user,post.id,post.title,post.content,post.reminder,0,0)">
                        <div class="card" >
                            <input ng-model="id" name="id" ng-value="post.id" type="hidden">
                            <div class="clickd">
                                <div name="title" class="title" contenteditable="false">{{ post.title }}</div>
                                <div name="content" class="content" contenteditable="false">{{ post.content }}</div>
                                <div name="reminder" class="remind" contenteditable="false"><div class="remindText">{{post.reminder}}</div></div>
                            </div>
                            <div class="toolbar">
                                <div class="inner col-md-offset-2">
                                    <div class="col-md-3"><a ng-click="del(post.id)"><i data-toggle="tooltip" data-placement="bottom" title="Delete Note" class="fa fa-trash fa-lg" aria-hidden="true"></i></a></div>
                                    <div class="col-md-3"><a ng-click="archive(post.id,post.isArchive)"><i data-toggle="tooltip" data-placement="bottom" title="Archive Note" class="fa fa-archive fa-lg" aria-hidden="true"></i></a></div>
                                    <div class="col-md-3"><a ng-click="copyData(post.user,post.title,post.content,post.reminder,post.isReminderActive,post.isArchive)"><i data-toggle="tooltip" data-placement="bottom" title="Make a copy" class="fa fa-clone fa-lg" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








       <!-- <div class="padTopMore col-md-8 col-md-offset-2">
            <div class="row rowWithFullWidth col-md-12">
                <div ng-repeat="post in posts track by $index" ng-if="$index % 3 == 0">
                    <div class="col-md-4 eachCard"
                    ng-repeat="i in [$index, $index + 1, $index + 2]"
                    ng-if="posts[i] != null">
                        <div class="card" ng-click="addDataToModal(posts[i].user,posts[i].id,posts[i].title,posts[i].content,posts[i].reminder,0,0)">
                        <input ng-model="id"  name="id" ng-value="posts[i].id" type="hidden">
                         <div class="clickd">
                            <div name="title" class="title" contenteditable="false">{{ posts[i].title }}</div>
                            <div name="content" class="content" contenteditable="false">{{ posts[i].content }}</div>
                             <div name="reminder" class="remind" contenteditable="false"><div class="remindText">{{posts[i].reminder}}</div></div>
                         </div>
                             <div class="toolbar">
                                 <div class="inner">
                                     <div class="col-md-3"><a ng-click="del(posts[i].id)"><i data-toggle="tooltip" data-placement="bottom" title="Delete Note" class="fa fa-trash fa-lg" aria-hidden="true"></i></a></div>
                                     <div class="col-md-3"><a ng-click="archive(posts[i].id,posts[i].isArchive)"><i data-toggle="tooltip" data-placement="bottom" title="Archive Note" class="fa fa-archive fa-lg" aria-hidden="true"></i></a></div>
                                     <div class="col-md-3"><a ng-click="copyData(posts[i].user,posts[i].title,posts[i].content,posts[i].reminder,post[i].isReminderActive,post[i].isArchive)"><i data-toggle="tooltip" data-placement="bottom" title="Make a copy" class="fa fa-clone fa-lg" aria-hidden="true"></i></a></div>
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>

-->

            <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->

                        <div class="form-group">

                            <div class="note col-md-12">

                                <input data-ng-model="data.user" type="hidden">
                                <input data-ng-model="data.id" type="hidden">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div id="titleDiv" class="title" ><input data-ng-model="data.title" class="textDivInp" placeholder="Title" name="title" type="text"></div>
                                <div id="contentDiv" class="content">
                                    <textarea data-ng-model="data.content" placeholder="Take a note..." name="content"></textarea>
                                </div>
                                <div class="remind">
                                    <div class="container2">
                                            <!--<input ng-model="reminderTime" class="form-control" id='datetimepicker4' placeholder="Pick The time." name="reminderTime" type="text">-->
                                        <input id="editTime" data-ng-model="data.reminder" class="form-control datetimepicker4" type='text' name="reminderTime" placeholder="No Reminder!"/>
                                        <!--<span id="clear1" class="glyphicon glyphicon-remove-circle"></span>-->
                                    </div>
                                </div>
                                <div id="toolbarDiv" class="toolbar">
                                    <div align="right" > <button class="done" id="updateButton" ng-click="updateData()">Done</button> </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>



    </div>

<script>


        $(function () {
                    $('.datetimepicker4').datetimepicker();
                });
        $('.datetimepicker4').blur(function () {
            angular.element($('.datetimepicker4')).triggerHandler('input');
        })
                $('#editTime').blur(function () {
                    angular.element($('#editTime')).triggerHandler('input');
                })
                $('#clear1').blur(function () {
                    angular.element($('#editTime')).triggerHandler('input');
                })
                $("#clear").click(function(){
                    $(".datetimepicker4").val('');
                });

                $("#clear1").click(function(){
                    $(".datetimepicker4").val('');
                });


        $(document).on('click', '.clickd', function () {
            // your function here
            //alert("Hello");
            $('#myModal').modal('show');
        });
        $(document).on('click', '#updateButton', function () {
            // your function here
            //alert("Hello");
            $('#myModal').modal('toggle');
        });




</script>
}
