@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@temp("Login") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <div id="myId" ng-app="loginApp"  ng-controller="loginHttpGetController">

        <div class="padtop">
            <div class="formlr col-md-4 col-md-offset-4">
                <div class="formin">
                    <div class="form-group">
                        <h1 class="fontrobo headings">Login</h1>
                    </div>
                    <form name="regForm" class="center" ng-submit="login()" method="post">
                          <div class="formcontent">
                            <div class="form-group">
                                <div class="center fill">
                                    <input class="inp form-control" type="email" name="email" placeholder="Email" ng-model="email" required>
                                    <span class="error" ng-show="regForm.email.$touched && regForm.email.$invalid" ng-cloak>*An email is required!</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="center fill">
                                    <input class="inp form-control" type="password" placeholder="Password" name="password" ng-model="password" required >
                                    <span class="error" ng-show="regForm.password.$touched && regForm.password.$invalid" ng-cloak>*Password is required!</span><br>
                                </div>
                            </div>
                          </div>

                        <div class="form-group">
                            <div class="center col-lg-12 col-centered">
                                <input id="bigbutton" type="submit" value="Login" />
                            </div>
                        </div>


                        <div class="padtop">
                            <div align="center">
                                <div class="error1" ng-cloak>{{ alertMessage }}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-group">
                <div class="center col-md-8 col-md-offset-2">
                    <h6>Don't have an account??</h6>
                    <a href="@routes.HomeController.regis()"><h5>Signup</h5></a>
                </div>
            </div>
        </div>
    </div>

}
